:root {
  --card-color: #333;
  --text-color: #f0f0f0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #202020;
  color: var(--text-color);
  max-width: 90%;
  margin: auto;
}

.site-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100vh; /* Add this line */
  background-size: cover;
}

.page-column {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-column {
  flex: 2;
}

.chat-column {
  flex: 1;
}

.card,
.response-card {
  background: var(--card-color);
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 1.5;
  transition: transform .2s;
}

.card:hover,
.response-card:hover {
  transform: scale(1.02);
}

.card p,
.response-card p {
  margin-top: 0;
}

@media (max-width: 768px) {
  .site-container {
    flex-direction: column;
  }
}

.vote-bar {
  width: 100%;
  height: 20px;
  background-color: #484848;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.vote-bar-progress {
  height: 100%;
}

.vote-bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: bold;
  line-height: 20px;
}